.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding-bottom: 100px;
  height: calc(100vh - 130px);

  & .repliesList {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 10px;
    overflow: auto;
    max-height: calc(100vh - 130px - 50px);
    padding-right: 20px;
  }

  & .sendMessageForm {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
    width: 100%;
    height: 50px;

    & .input {
      box-sizing: border-box;
      padding: 20px;
      height: 50px;
      width: 100%;

      /* border: 2px solid #222; */
      border-radius: 20px;
    }
  }
}
