@import "../../utils/mixins/table.css";
@import "../../utils/mixins/button.css";

.container {
  display: block;
  width: 50%;
  margin: 60px auto auto;
}

.tableRow {
  @mixin Table-row;

  grid-template-columns: 1fr 100px;
}

.button {
  @mixin Outline-button;
}
