.container {
  outline: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;

  .title {
    text-align: center;
    margin-bottom: 0;
  }

  .avatar {
    border-radius: 100px;
  }

  .button {
    width: fit-content;
    margin-top: 0;
  }
}
