@import "../../../../utils/mixins/text";
@import "../../../../utils/mixins/window";

.container {
  @mixin Bordered-window

    outline: none;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;

  .title {
    @mixin Header-text;

    text-align: center;
    margin-bottom: 0;
  }
}
