@import "../../utils/mixins/button";
@import "../../utils/mixins/text";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;

  .button {
    @mixin Button;

    width: fit-content;
    margin: 50px auto 0;
  }

  .avatar {
    cursor: pointer;
    margin-bottom: 50px;
    border-radius: 100px;
  }

  .link {
    @mixin Link-text;

    margin-top: 30px;
  }
}
