.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

.mainPageTitle {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  /* color: var(--main-dark-color); */
  margin-top: 0;
  margin-bottom: 110px;
  cursor: default;
}

.menuSelection {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  transition: 0.3s ease;

  a {
    text-decoration: none;

    /* color: var(--main-dark-color); */
  }

  li {
    margin-bottom: 20px;
    list-style-type: none;
    width: fit-content;
    cursor: pointer;

    * {
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  li:hover {
    color: var(--dark-grey-color);
  }
}
