@import "./text.css";

@define-mixin Button {
  @mixin Uppercase-important-text;

  height: 50px;
  padding: 20px 40px;
  border-radius: 25px;
  border: solid 2px var(--main-dark-color);
  font-weight: bold;
  color: #fff;
}

@define-mixin Outline-button {
  @mixin Button;

  border: solid 2px #fff;
}
