@import "./text.css";

@define-mixin Button {
  @mixin Uppercase-important-text;

  height: 50px !important;
  padding: 20px 40px !important;
  border-radius: 25px !important;
  border: solid 2px var(--main-dark-color) !important;
  font-weight: bold !important;
  color: #fff !important;
}

@define-mixin Outline-button {
  @mixin Button;

  border: solid 2px #fff !important;
}
