@define-mixin Table-row {
  display: grid;
  grid-column-gap: 20px;
  justify-items: stretch;
  align-items: center;
  list-style-type: none;
  border-bottom: 2px solid var(--grey-color);
  margin: 0;
  padding: 12px 0;
  height: 74px;
}
