header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: var(--action-color);
}

.backButton {
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0;
    border: 0;

    &:hover {
        border: 0;
    }
}

.backButtonIcon {
    margin-right: 10px;
    height: 50%;
}

.headerGroup {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTitle {
    cursor: default;
}
