@import "../../utils/mixins/text.css";

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: var(--action-color);
}

.backButton {
  @mixin Uppercase-important-text;

  position: absolute;
  left: 20px;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.backButton svg {
  margin-right: 10px;
}

.headerGroup {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerTitle {
  @mixin Uppercase-header-text;

  color: white;
  cursor: default;
}
