@import "../../utils/mixins/button";
@import "../../utils/mixins/text";
@import "../../utils/mixins/window";

.container {
  @mixin Bordered-window;

  display: flex;
  gap: 50px;
}

.title {
  @mixin Uppercase-header-text;
}

.button {
  @mixin Button;
}

.link {
  @mixin Link-text;
}
